@import url('https://fonts.googleapis.com/css?family=Lato:400,600,900');
*{
font-family: 'Lato', sans-serif;
}

.navbar-brand{
	overflow: hidden;
	width: 200px;
	padding: 0px 0px 0px 15px;
	height: 40px;
}

.navbar-brand svg{
	max-height: 35px;
}

.navbar-brand svg path{
	fill:#ffc400;
}

.banner{
	height: 400px;
	background: #fafafa;
	display: block;
	background: url("https://images.unsplash.com/photo-1450778869180-41d0601e046e?dpr=1&auto=compress,format&fit=crop&w=1450&h=&q=80&cs=tinysrgb&crop=");
	background-size: cover;
	background-position: center;
	text-align: center;
	padding: 100px;	
	color: white;
}
.navbar{
	border-top: solid 5px #ffc400;
	box-shadow: 1px #000;
}
.panel{
	position: absolute;
	background: rgba(255,255,255,0.987);
	border-radius: 5px;
	/*min-height: 200px;*/
	margin-top: -150px;
	padding: 10px 25px;
	box-shadow: .5px .5px .5px #dddddd;
}

.panel .col-md-3,.panel .col-md-6{
	padding: 7.5px 7.5px;
}

.panel .col-md-12{
	padding: 0px 10px;
}

div.col-md-6.inputan {
	padding: 7.5px 5px 7.5px 5px;
}
.panel .row{
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -7.5px;
    margin-left: -7.5px;
}

.panel .menus{
	border:1px solid #ddd;
	/*min-height: 100px;*/
	border-radius: 5px;
	transition: .5s ease;
	width: 100%;
	display: block;
	text-align: center;
	padding: 20px;
}

.panel .menus svg{
	min-height: 30px;
	max-height: 50px;
	transition: 0.3s;
}
.panel .menus svg path{
	transition: 0.3s;
	fill:#666;
}

.panel .menus:hover svg path{
	fill:#ffc400;
}

.panel .menus:hover ,.panel .menus:focus{
	border:1px solid #ffc400;
	cursor:pointer;
}

input[type='radio']{
	display: none;
}

input[type='radio']:checked + label.menus{
	border:1px solid #ffc400;
}

input[type='radio']:checked + label.menus.services{
	background: #ffc400;
}

input[type='radio']:checked + label.menus svg path{
	fill:#ffc400;
}
.panel .form-control{
	min-height: 20px;
	padding: 6px 10px 6px 10px;
	font-size: 16px;
}
.panel .form-control:focus{
	border:1px solid #ffc400;
}
/*
.panel .row .t1{
	display: none;
}
.panel .row .t2{
	display: none;
}*/

.banner h1{
	width: 100%;
	position: relative;
	text-align: center;
	font-weight: 900;
}

section:not(.banner){
	min-height: 500px;
	background: #fafafa;
}

.services{
	height: auto;
	padding-top: 350px;
}

section h3.title{
	width: 100%;
	text-align: center;
}

.filter{
	top: 61px;
	left: 0px;
	position: absolute;
	background: rgba(0,0,0,0.4);
	width: 100%;
	height: 400px;
}

.boxservice{
	margin-top: 20px;
	background: #fff;
	border: 1px solid #ddd;
	height: 240px;
	padding: 35px;
	border-radius: 5px;
	text-align: center;
	transition: .2s ease;
	margin-bottom: 20px;
	overflow: hidden;
}

.boxservice:hover{
	border-top: 5px solid #ffc400;
	/*background: #ffc400;*/
	cursor: pointer;
	padding-top: 30px;
}

.boxservice .img{
	display: block;
	width: 100%;
}

.boxservice span{
	display: block;
	margin-top: 10px;
	font-size: 18px;
}

.boxservice .img img{
	width: 100px;
	height: 100px;
	transition: 0.2s ease;
}

.boxservice p{
	font-size: 15px;
	color: #757575;
}

.boxservice:hover .img img{
	width: 105px;
	height: 105px;
}

.procedure {
	padding: 45px 0;
	padding-top: 100px;
	text-align: center;
}

.procedure .number{
	padding: 25px 0;
}

.procedure .circle{
	/*padding: 15px;*/
	display: inline-block;
	height: 25px;
	width: 25px;
	border-radius: 50%;
	background: #444;
	color: #fff;
	z-index: 99;
}

.procedure .circle:not(.last):after{
	content: "";
    position: absolute;
    height: 1px;
    border-bottom: 2px solid #444;
    width: 50%;
    z-index: 0;
    top: 48%;
}

.procedure .circle:not(.first):before{
	left: 0px;
	content: "";
    position: absolute;
    height: 1px;
    border-bottom: 2px solid #444;
    width: 50%;
    z-index: 0;
    top: 48%;
}

.procedure div.kolom{
	min-height: 400px;
	padding: 20px 40px;
}

.procedure div.kolom .content{
	background: #eee;
	border: 1px solid #ddd;
	min-height: 240px;
	border-radius: 5px;
}

.procedure div.kolom .content h6{
	width: 100%;
	padding: 10px 0 3px 0;
	font-weight: 400;
	color: #555;
}

.procedure div.kolom .content p{
	padding: 0 20px;
	font-size: 14px;
	color: #777;
}

.procedure .imgProcedure{
	padding: 35px;
	background: #fafafa;
}
.procedure .imgProcedure img{
	max-width: 90px;
}

.footer{
	padding-top: 40px;
	text-align: center;
	min-height: 350px;
	background: #eee;
}

.copyright{
	padding: 10px;
	min-height: 40px;
	background: #dedede;
}

.copyright img{
	margin: 0px 5px;
}

#searchbutton{
	height: 100%;
	cursor: pointer;
}

ul#search-list{
	list-style: none;
	min-height: 700px;
	padding: 0px;
}
li.search-items:after{
  content: "";
  display: table;
  clear: both;
}

li.search-items{
	border: 1px solid #ddd;
	margin: 15px 0px;
}

li.search-items:first-child{
	margin-top : 0px;
}

li.search-items:hover{
	border: 1px solid #ffc400;
}

li.search-items div.images{
	float: left;
	display: block;
	width: 150px;
	min-width: 120px;
	height: 150px;
	background: #000;
	overflow: hidden;
}
li.search-items div.images img{
	max-height: 100%;
	left: -100%;
    right: -100%;
    top: -100%;
    bottom: -100%;
	transition: 0.1s ease;
}

li.search-items div.images:hover img{
	max-height: 110%;
	max-width: 200%;
}


li.search-items div.content{
	float: left;
	display: block;
	min-height: 150px;
	width: calc(100% - 150px - 100px);
	padding: 5px 25px;
	color: #555;
}
li.search-items div.price{
	float: left;
	display: block;
	max-height: 150px;
	width: 100px;
	color: #555;
	padding: 40px 10px;
	font-size:14px;
	background: #eee
}

li.search-items div.price span{
	display: block;
	width: 100%
}

li.search-items div.price span#pricetag{
	font-size: 24px;
	color: #ffc400;
	font-weight: bold;
}

li.search-items div.content h4{
	font-weight: 700;
	font-size: 20px;

}

li.search-items span.badge.badge-info{
	padding: 3px 15px;
	background: transparent;
	border: 1px solid #ffc400;
	color: #ffc400;
}

span.location{
	font-size: 14px;
	display: block;
	width: 100%;
}

div#panel-filter{
	display: block;
	width: 100%;
	background: #ddd;
	min-height: 200px;
	padding: 15px;
}

div#panel-filter label{
	font-size: 14px;
	color: #555;
}

section#search-content{
	padding-top: 50px;
	background: #fafafa;
}